body {
    max-width: 1500px;
    text-align: left;
    margin: auto;
    padding-top: 30px;
}

td, th {
    padding: 0 10px 0 5px;
    vertical-align: top;
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 55px;
    color: #000 !important;
}

@-moz-document url-prefix() {
    textarea {
        resize: both;
        overflow: auto;
        max-height: 500px;
    }
}

.remove-icon:hover {
    color: #696a6b;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.big-icon {
    font-size: 24px;
}

.content-padding {
    padding: 5px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.no-margin {
    margin: 0 !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiline {
    white-space: pre-wrap;
}

.font-smaller {
    font-size: 90%;
}

.hidden {
    display: none;
}

.vertical-top {
    vertical-align: top;
}

.vertical-middle {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.multiple-selection .cases-list-checkbox {
    display: inline-block;
    margin-right: 10px;
}

.multiple-selection .list-group-item-action {
    padding-left: 10px;
}

.multiple-selection .list-group-item-action .full-width{
    width: 90%;
}

.card.actual-server-value {
    margin-bottom: 5px;
    border-color: #f0ad4e;
}

.card.actual-server-value .card-header {
    padding: .2rem .75rem;
    color: #fff;
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}

.card.actual-server-value .card-block {
    padding: .2rem .75rem;
}

.added-row {
    background-color: rgba(92, 184, 92, 0.25);
}

.removed-row {
    background-color: rgba(217, 83, 79, 0.25);
}

.vertical-text {
    transform: rotate(270deg);
    transform-origin: left top 0;
}